# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
env/
.env
.venv

# Environment Variables (MUITO IMPORTANTE)
.env
.env.local

# Jupyter Notebooks
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# Data sets (evitar subir bases de dados pesadas ou sensíveis)
data/
!data/.gitkeep